[package]
name = "plotnik-lib"
version = "0.1.1"
edition = "2024"
license = "Apache-2.0"
description = "Typed query language for tree-sitter AST"
repository = "https://github.com/plotnik-lang/plotnik"
documentation = "https://docs.rs/plotnik-lib"
readme = "../../README.md"
keywords = ["tree-sitter", "query", "ast", "parser"]
categories = ["parsing", "development-tools"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage_nightly)'] }

[dependencies]
annotate-snippets = "0.12.9"
logos = "0.16.0"
indexmap = "2"
rowan = "0.16.1"
serde = { version = "1.0.228", features = ["derive"] }
thiserror = "2.0.17"
arborium-tree-sitter = "2.5.0"
crc32fast = "1.4"
memmap2 = "0.9"
plotnik-core = { version = "0.1", path = "../plotnik-core" }
plotnik-langs = { version = "0.1", path = "../plotnik-langs", optional = true }

[features]
default = ["plotnik-langs"]

[dev-dependencies]
insta = { version = "=1.46.0", features = ["yaml"] }
indoc = "=2.0.7"
serde_json = "=1.0.148"
tempfile = "=3.24.0"
