[package]
name = "plotnik-lib"
version = "0.1.0"
edition = "2024"

[dependencies]
annotate-snippets = "0.12.9"
logos = "0.15.1"
petgraph = "0.8.3"
indexmap = "2"
rowan = "0.16.1"
serde = { version = "1.0.228", features = ["derive"] }

[dev-dependencies]
insta = { version = "=1.44.3", features = ["yaml"] }
indoc = "=2.0.7"
serde_json = "=1.0.145"
