[package]
name = "plotnik-lib"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
description = "Typed query language for tree-sitter AST"
documentation = "https://docs.rs/plotnik-lib"
readme = "../../README.md"
keywords = ["tree-sitter", "query", "ast", "parser"]
categories = ["parsing", "development-tools"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage_nightly)'] }

[dependencies]
plotnik-bytecode.workspace = true
plotnik-compiler.workspace = true
plotnik-core.workspace = true
plotnik-vm.workspace = true
plotnik-langs = { workspace = true, optional = true }
arborium-tree-sitter = "2.12.4"
serde = { version = "1.0", features = ["derive"] }

[features]
default = ["plotnik-langs"]

[dev-dependencies]
insta = { version = "=1.46.3", features = ["yaml"] }
indoc = "=2.0.7"
serde_json = "=1.0.149"
tempfile = "=3.24.0"
