[package]
name = "plotnik-lib"
version = "0.1.0"
edition = "2024"

[dependencies]
logos = "0.15.1"
serde = { version = "1.0.228", features = ["derive"] }

[dev-dependencies]
insta = { version = "=1.44.0", features = ["yaml"] }
