name: Test

on:
  workflow_dispatch:

  push:
    branches:
      - master

  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - master

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  test:
    runs-on: ubuntu-latest

    name: Test

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Rust stable
        uses: dtolnay/rust-toolchain@stable

      - name: Using Rust cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          cache-all-crates: "true"
          cache-on-failure: "true"
          prefix-key: v0-rust

      - name: Run tests
        run: cargo test --workspace
